body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 1rem; /* Was 16px */
  color: black;
}

i {
  color: #0066ff;
}

.courseCointainer {
  padding: 3rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 1.25rem; /* Was 10px 20px */
  background-color: transparent;
  color: #fff;
}

a {
  color: #000;
  text-decoration: none;
  font-size: 1rem;
}

.auth-buttons button {
  background-color: #0066ff;
  color: white;
  text-decoration: none;
  margin: 0 10px;
  width: 5.1875rem;
  height: 2.125rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
