:root {
  --accent: #0066ff;
  --bg: #ffffff;
  --card: #fff;
  --text: #000;
  --shadow: hsl(0, 0%, 86%);
  --transparent: rgba(186, 186, 186, 0.5);
}
.dark-mode {
  --bg: hsl(0, 0%, 2%);
  --text: #fff;
  --shadow: #363636;
  --transparent: rgba(78, 78, 78, 0.75);
  --card: #181818;
}
* {
  transition: 0.3s ease-in-out;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text);
}
p {
  font-size: 1rem; /* Was 16px */
  color: var(--text);
}

i {
  color: var(--accent);
}

.courseContainer {
  padding: 0 3rem;
}
.language-switch {
  width: 4rem;
  position: fixed;
  left: 0px;
  top: 30vh;
  overflow: auto;
  background-color: var(--transparent);
  padding: 1rem 0 1rem 0;
  border-radius: 0 15px 15px 0;
}
.flag {
  height: 2.3rem;
  justify-items: center;
}
.flag:hover {
  transform: scale(1.04);
  cursor: pointer;
}
#switchToDanish {
  padding-bottom: 0.8rem;
}

.signUp {
  font-size: 0.9rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 1.25rem;
  background-color: rgba(0, 0, 0, 0);
  color: transparent;
}

a {
  color: var(--text);
  text-decoration: none;
  font-size: 1rem;
}

.auth-buttons button {
  background-color: var(--accent);
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  width: 5.1875rem;
  height: 2.125rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

footer {
  background-color: transparent;
  color: var(--text);
  text-align: center;
  padding: 8rem 5rem;
  background: url("/footerhero.png") no-repeat center; /* This would be the wavy background image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 15%;
}

.contact-info {
  height: 10rem;
  text-align: left;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contact-info p {
  margin-top: 0;
}
#contactPerson {
  font-weight: 500;
}
#contactEmail {
  font-weight: 700;
  color: var(--accent);
}

.header-logo {
  height: 4rem;
}

.flex-footer {
  display: flex;
  align-items: center;
  padding: 0 3rem;
  gap: 2rem;
}

.footer-logo img {
  width: 5.5rem;
  height: auto;
}
.footer-logo {
  height: 10rem;
}
.footer-logo p {
  max-width: 6rem;
}

/* Styles for the modal background */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
  transform: fadeIn(0.5s);
}

/* Modal Content/Box */
.modal-content {
  background-color: var(--bg);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 500px; /* Maximum width */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px; /* Rounded corners */
  position: relative; /* For absolute positioning of close button */
}

/* The Close Button (x) */
.close {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--text);
  text-decoration: none;
  cursor: pointer;
}

/* Input fields */
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 10px 0 20px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px; /* Rounded borders */
}

/* Set a style for all buttons */
.form-button {
  background-color: var(--accent);
  color: var(--bg);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

/* Extra styles for the form toggle links */
.form-toggle {
  color: var(--accent);
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.form-toggle:hover {
  text-decoration: underline;
}

/* Style for form headings */
.form-container h2 {
  text-align: center;
  color: var(--text);
}

/* Footer text */
.form-footer {
  text-align: center;
  padding-top: 10px;
}

/* Adjusting form container */
.form-container {
  padding: 30px;
}

.modalButton {
  padding: 0.7rem;
  min-width: 10rem;
  border-radius: 5px;
  margin-right: 1rem;
}
.previewIcon {
  font-size: 1rem;
}

i {
  font-size: 2rem;
}
.fa-facebook {
  color: #0664fc;
}
.fa-youtube {
  color: #ff0000;
}
.fa-brands {
  margin-right: 1rem;
}
button {
  transition: 0.3s ease-in-out;
}
button:hover {
  transform: scale(1.025);
  -webkit-box-shadow: 0px 10px 10px 0px var(--shadow);
  -moz-box-shadow: 0px 10px 10px 0px var(--shadow);
  box-shadow: 0px 10px 10px 0px var(--shadow);
}
/*Dark mode*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: var(--bg);
  width: 4rem;
  height: 1.5rem;
  border-radius: 50px;
  border: 1px solid var(--text);
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {
  color: #f1c40f;
  font-size: 1.5rem;
}

.fa-sun {
  color: #f39c12;
  font-size: 1.3rem;
}

.checkbox-label .ball {
  background-color: var(--text);
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: 0.3rem;
  top: 0.3rem;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(2.7rem);
}

.support {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.support a {
  color: #292c35;
  font-size: 32px;
  backface-visibility: hidden;
  display: inline-block;
  transition: transform 0.2s ease;
}

.support a:hover {
  transform: scale(1.1);
}
#controls {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.eventInfoContainer {
  display: flex;
  align-items: center;
}
.eventInfoContainer > i {
  margin-right: 1rem;
  justify-self: center;
}
#user-profile {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  z-index: 1;
  /* Tilføj yderligere styling her efter behov */
}

#user-profile:hover .dropdown-menu {
  display: block;
}
/* styles.css */
.main-header {
  color: var(--bg);
  text-align: center;
  padding: 1rem 0.5rem;
  background: url("/mainhero.png") no-repeat center; /* This would be the wavy background image */
  background-size: cover;
  min-height: 40vh;
}
#signUp {
  color: var(--text);
}
h1 {
  padding-top: 6rem;
}

.text-black {
  display: block;
  color: var(--text);
  font-size: 6.5rem; /* Was 48px */
  font-weight: 600;
}

.text-gradient {
  font-size: 6.5rem; /* Was 48px */
  font-weight: 600;
  background: -webkit-linear-gradient(
    left,
    #0026ef,
    #3dbc96,
    #1753ec
  ); /* For Safari 5.1 to 6.0 */
  background: linear-gradient(
    to right,
    #1753ec,
    #3dbc96,
    #0026ef
  ); /* Standard syntax; adjust your colors as needed */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* This makes the text take the color of the background */
}

.span-gradient1 {
  font-weight: 600;
  background: -webkit-linear-gradient(
    left,
    #2581ba,
    #1458d2
  ); /* For Safari 5.1 to 6.0 */
  background: linear-gradient(
    to right,
    #1458d2,
    #2581ba
  ); /* Standard syntax; adjust your colors as needed */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* This makes the text take the color of the background */
}

.span-gradient2 {
  font-weight: 600;
  background: -webkit-linear-gradient(
    left,
    #349daf,
    #33a3ab
  ); /* For Safari 5.1 to 6.0 */
  background: linear-gradient(
    to right,
    #33a3ab,
    #349daf,
  ); /* Standard syntax; adjust your colors as needed */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* This makes the text take the color of the background */
}

.span-gradient3 {
  font-weight: 600;
  background: -webkit-linear-gradient(
    left,
    #2a61ed,
    #257ccc
  ); /* For Safari 5.1 to 6.0 */
  background: linear-gradient(
    to right,
    #257ccc,
    #2a61ed
  ); /* Standard syntax; adjust your colors as needed */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* This makes the text take the color of the background */
}

.span-gradient4 {
  font-weight: 600;
  background: -webkit-linear-gradient(
    left,
    #35aba6,
    #3cba97
  ); /* For Safari 5.1 to 6.0 */
  background: linear-gradient(
    to right,
    #3cba97,
    #35aba6
  ); /* Standard syntax; adjust your colors as needed */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* This makes the text take the color of the background */
}

.main-content {
  max-width: 50rem; /* More flexible for smaller screens */
  margin: 0 auto;
  font-size: 1.4rem;
  text-align: justify;
}

.cta-buttons button {
  padding: 0.625rem;
  margin: 5% 2.5rem; /* Adjusted for better responsiveness */
  cursor: pointer;
  border-radius: 0.5rem;
  width: 11.5rem; /* Was 184px */
  height: 3.1875rem; /* Was 51px */
}

.cta-1 {
  background-color: var(--accent);
  color: #fff;
  border: none;
}
.cta-2 {
  background-color: transparent;
  color: var(--text);
  border: 2px solid var(--text);
}
.reasons {
  display: flex;
  justify-content: space-around;
  padding: 3rem 0 5rem 0;
  background-color: transparent;
}

.reason {
  width: 20rem; /* Full width on smaller screens */
  text-align: center;
}

.events {
  padding: 20px;
  text-align: center;
}

#controls {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.eventInfoContainer {
  display: flex;
  align-items: center;
}
.eventInfoContainer > i {
  margin-right: 1rem;
  justify-self: center;
}
/*Card slider*/
.slider {
  display:flex;
  align-items:center;
  justify-content:center;
  width:100%;
  height:28rem;
  overflow:hidden;
}

#eventsContainer {
  display:flex;
  gap: 3rem;
  align-items:center;
  justify-content:flex-start;
  width:100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 1rem;
  scroll-behavior:smooth;
  height: 25rem;
}

#eventsContainer::-webkit-scrollbar {
   height:0px;
}

#eventsContainer:after {
  content:'';
  display:block;
  min-width:20px;
  height:100px;
  position:relative;
}
.sliderBtn {
  border: none;
  background-color: transparent;
}
.sliderBtn:hover {
  cursor: pointer;
  box-shadow: none;
  color: var(--text);
}

.event-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--card);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 2px 5px 10px var(--shadow);
  min-height: 18rem;
  min-width: 20%;
}
.event-card:hover {
  transform: translate(0,0.2rem) scale(1.05);
  cursor: pointer;
}
.event-card > h3, .event-card > p{
  text-align: left;
}
.eventModal {
  min-width: 70vw;
}
/* Responsive adjustments */
@media screen and (max-width: 450px) {
  .modal-content {
    width: 95%;
  }

  .close {
    font-size: 25px;
    top: 0;
    right: 10px;
  }
  .text-black, .text-gradient {
    font-size: 3.5rem;
  }
  .main-content {
    font-size: 1.2rem;
    width: 85%;
    text-align: center;
  }
  .cta-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
  }
  .cta-1, .cta-2 {
    width: 5rem;
  }
  .cta-2 {
    margin: 0 !important;
  }
  .cta-buttons button {
    margin: 0;
    padding: 0;
    width: 8rem;
  }
  .reasons {
    flex-direction: column;
    align-items: center;
    padding: 4em 1rem 1rem 1rem;
  }
  .reason {
    margin-bottom: 1.5rem;
  }
  .language-switch {
    top: 12vh;
    width: 2.4rem;
  }
  .flag {
    height: 1.6rem;
  }
  .event-card {
    min-width: 70%;
  }
  footer {
    padding: 0;
  }
  .modal-content {
    width: 80%;
  }
  .header-logo {
    height: 2.5rem;
  }
  .courseContainer {
    padding: 0 0.6rem 0 0.6rem;
  }
  .checkbox-label {
    width: 3.3rem;
  }
  .checkbox:checked + .checkbox-label .ball {
    transform: translateX(1.9rem);
  }
}