/* styles.css */
.main-header {
  color: white;
  text-align: center;
  padding: 50px 20px;
  background: url("/hero25.png") no-repeat center; /* This would be the wavy background image */
  background-size: cover;
  min-height: 40vh;
}

.text-black {
  display: block;
  color: black;
  font-size: 6.5rem; /* Was 48px */
  font-weight: 600;
}

.text-gradient {
  font-size: 6.5rem; /* Was 48px */
  font-weight: 600;
  background: -webkit-linear-gradient(
    left,
    #0026ef,
    #3dbc96,
    #1753ec
  ); /* For Safari 5.1 to 6.0 */
  background: linear-gradient(
    to right,
    #1753ec,
    #3dbc96,
    #0026ef
  ); /* Standard syntax; adjust your colors as needed */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* This makes the text take the color of the background */
}

.span-gradient1 {
  font-weight: 600;
  background: -webkit-linear-gradient(
    left,
    #2581ba,
    #1458d2
  ); /* For Safari 5.1 to 6.0 */
  background: linear-gradient(
    to right,
    #1458d2,
    #2581ba
  ); /* Standard syntax; adjust your colors as needed */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* This makes the text take the color of the background */
}

.span-gradient2 {
  font-weight: 600;
  background: -webkit-linear-gradient(
    left,
    #349daf,
    #33a3ab
  ); /* For Safari 5.1 to 6.0 */
  background: linear-gradient(
    to right,
    #33a3ab,
    #349daf,
  ); /* Standard syntax; adjust your colors as needed */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* This makes the text take the color of the background */
}

.span-gradient3 {
  font-weight: 600;
  background: -webkit-linear-gradient(
    left,
    #2a61ed,
    #257ccc
  ); /* For Safari 5.1 to 6.0 */
  background: linear-gradient(
    to right,
    #257ccc,
    #2a61ed
  ); /* Standard syntax; adjust your colors as needed */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* This makes the text take the color of the background */
}

.span-gradient4 {
  font-weight: 600;
  background: -webkit-linear-gradient(
    left,
    #35aba6,
    #3cba97
  ); /* For Safari 5.1 to 6.0 */
  background: linear-gradient(
    to right,
    #3cba97,
    #35aba6
  ); /* Standard syntax; adjust your colors as needed */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* This makes the text take the color of the background */
}

.main-content {
  max-width: 50rem; /* More flexible for smaller screens */
  margin: 0 auto;
  font-size: 1.4rem;
  text-align: justify;
}

.cta-buttons button {
  padding: 0.625rem;
  margin: 5% 2.5rem; /* Adjusted for better responsiveness */
  cursor: pointer;
  border-radius: 0.5rem;
  width: 11.5rem; /* Was 184px */
  height: 3.1875rem; /* Was 51px */
}

.cta-1 {
  background-color: #0066ff;
  color: white;
  border: none;
}

.cta-2 {
  background-color: transparent;
  color: black;
  border: 2px solid black;
}



.reasons {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: transparent;
}

.reason {
  width: 100%; /* Full width on smaller screens */
  text-align: center;
}

.events {
  padding: 20px;
  text-align: center;
}

.event-card {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Media Queries for responsive adjustments */
@media (max-width: 768px) {
  .reason {
    width: 50%; /* Three columns on larger screens */
  }

  .main-content {
    max-width: 30%; /* Fixed width on larger screens */
  }
}
