/* styles.css */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 1.25rem; /* Was 10px 20px */
  background-color: transparent;
  color: #fff;
}

a {
  color: #000;
  text-decoration: none;
}

.auth-buttons button {
  color: #0066ff;
  text-decoration: none;
  margin: 0 10px;
}

.main-header {
  color: white;
  text-align: center;
  padding: 50px 20px;
  font-family: "Arial", sans-serif;
  background: url("/test.png") no-repeat center; /* This would be the wavy background image */
  background-size: cover;
  min-height: 40vh;
}

.text-black {
  display: block;
  color: black;
  font-size: 3rem; /* Was 48px */
  font-weight: bold;
}

.text-gradient {
  font-size: 3rem; /* Was 48px */
  font-weight: bold;
  background: -webkit-linear-gradient(
    left,
    #007bff,
    #0044ff
  ); /* For Safari 5.1 to 6.0 */
  background: linear-gradient(
    to right,
    #007bff,
    #0044ff
  ); /* Standard syntax; adjust your colors as needed */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* This makes the text take the color of the background */
}

.main-content {
  max-width: 90%; /* More flexible for smaller screens */
  margin: 0 auto;
}

.cta-buttons button {
  padding: 0.625rem;
  margin: 10% 2.5rem; /* Adjusted for better responsiveness */
  cursor: pointer;
  border-radius: 0.5rem;
  width: 11.5rem; /* Was 184px */
  height: 3.1875rem; /* Was 51px */
}

.cta-1 {
  background-color: #0066ff;
  color: white;
  border: none;
}

.cta-2 {
  background-color: transparent;
  color: black;
  border: 2px solid black;
}

.reasons {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #f4f4f4;
}

.reason {
  width: 100%; /* Full width on smaller screens */
  text-align: center;
}

.events {
  padding: 20px;
  text-align: center;
}

.event-card {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

footer {
  background-color: transparent;
  color: white;
  text-align: center;
  padding: 20px 0;
}

/* Media Queries for responsive adjustments */
@media (min-width: 768px) {
  .reason {
    width: 30%; /* Three columns on larger screens */
  }

  .main-content {
    max-width: 30%; /* Fixed width on larger screens */
  }
}
