/* styles.css */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 16px;
  color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
  color: #fff;
}

a {
  color: #000;
  text-decoration: none;
}

.auth-buttons button {
  color: #0066ff;
  text-decoration: none;
  margin: 0 10px;
}

.main-header {
  color: white;
  text-align: center;
  padding: 50px 20px;
  font-family: "Arial", sans-serif;
  background: url("test.png") no-repeat center center fixed; /* This would be the wavy background image */
  background-size: contain;
  height: 40vh;
}

.text-black {
  display: block;
  color: black;
  font-size: 48px; /* Adjust size as needed */
  font-weight: bold;
}

.text-gradient {
  font-size: 48px; /* Adjust size as needed */
  font-weight: bold;
  background: -webkit-linear-gradient(
    left,
    #007bff,
    #0044ff
  ); /* For Safari 5.1 to 6.0 */
  background: linear-gradient(
    to right,
    #007bff,
    #0044ff
  ); /* Standard syntax; adjust your colors as needed */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* This makes the text take the color of the background */
}

.main-content {
  max-width: 30%;
  margin: 0 auto;
}

.cta-buttons button {
  padding: 10px;
  margin: 10% 40px;
  cursor: pointer;
  border-radius: 8px;
  width: 184px;
  height: 51px;
}

.cta-1 {
  background-color: #0066ff;
  color: white;
  border: none;
}

.cta-2 {
  background-color: transparent;
  color: black;
  border: 2px solid black;
}

.reasons {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #f4f4f4;
}

.reason {
  width: 30%;
  text-align: center;
}

.events {
  padding: 20px;
  text-align: center;
}

.event-card {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

footer {
  background-color: transparent;
  color: white;
  text-align: center;
  padding: 20px 0;
}

/* Responsive design and additional styling would be required here */
