/* styles.css */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 1.25rem; /* Was 10px 20px */
  background-color: transparent;
  color: #fff;
}

a {
  color: #000;
  text-decoration: none;
}

.auth-buttons button {
  background-color: #0066ff;
  color: white;
  text-decoration: none;
  margin: 0 10px;
  width: 5.1875rem;
  height: 2.125rem;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.main-header {
  color: white;
  text-align: center;
  padding: 50px 20px;
  font-family: "Arial", sans-serif;
  background: url("/hero25.png") no-repeat center; /* This would be the wavy background image */
  background-size: cover;
  min-height: 40vh;
}

.text-black {
  display: block;
  color: black;
  font-size: 6.5rem; /* Was 48px */
  font-weight: 600;
}

.text-gradient {
  font-size: 6.5rem; /* Was 48px */
  font-weight: 600;
  background: -webkit-linear-gradient(
    left,
    #0026ef,
    #3dbc96,
    #1753ec
  ); /* For Safari 5.1 to 6.0 */
  background: linear-gradient(
    to right,
    #1753ec,
    #3dbc96,
    #0026ef
  ); /* Standard syntax; adjust your colors as needed */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* This makes the text take the color of the background */
}

.span-gradient1 {
    font-weight: 600;
    background: -webkit-linear-gradient(
      left,
      #1458d2,
      #2581ba
    ); /* For Safari 5.1 to 6.0 */
    background: linear-gradient(
      to right,
      #2581ba,
      #1458d2
    ); /* Standard syntax; adjust your colors as needed */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; /* This makes the text take the color of the background */
}

  .span-gradient2 {
    font-weight: 600;
    background: -webkit-linear-gradient(
      left,
      #33a3ab,
      #349daf
    ); /* For Safari 5.1 to 6.0 */
    background: linear-gradient(
      to right,
      #349daf,
      #33a3ab
    ); /* Standard syntax; adjust your colors as needed */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; /* This makes the text take the color of the background */
}
  

  .span-gradient3 {
    font-weight: 600;
    background: -webkit-linear-gradient(
      left,
      #257ccc,
      #2a61ed
    ); /* For Safari 5.1 to 6.0 */
    background: linear-gradient(
      to right,
      #2a61ed,
      #257ccc
    ); /* Standard syntax; adjust your colors as needed */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; /* This makes the text take the color of the background */
}
  

  .span-gradient4 {
    font-weight: 600;
    background: -webkit-linear-gradient(
      left,
      #3cba97,
      #35aba6
    ); /* For Safari 5.1 to 6.0 */
    background: linear-gradient(
      to right,
      #35aba6,
      #3cba97
    ); /* Standard syntax; adjust your colors as needed */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; /* This makes the text take the color of the background */
}
  
.main-content {
  max-width: 40%; /* More flexible for smaller screens */
  margin: 0 auto;
  font-size: 1.4rem;
  text-align: justify;
}

.cta-buttons button {
  padding: 0.625rem;
  margin: 5% 2.5rem; /* Adjusted for better responsiveness */
  cursor: pointer;
  border-radius: 0.5rem;
  width: 11.5rem; /* Was 184px */
  height: 3.1875rem; /* Was 51px */
  font-size: 1rem;
}

.cta-1 {
  background-color: #0066ff;
  color: white;
  border: none;
}

.cta-2 {
  background-color: transparent;
  color: black;
  border: 2px solid black;
}

i {
  font-size: 2rem;
}

.reasons {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: transparent;
}

.reason {
  width: 100%; /* Full width on smaller screens */
  text-align: center;
}

.events {
  padding: 20px;
  text-align: center;
}

.event-card {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

footer {
  background-color: transparent;
  color: white;
  text-align: center;
  padding: 20px 0;
}

/* Media Queries for responsive adjustments */
@media (max-width: 768px) {
  .reason {
    width: 50%; /* Three columns on larger screens */
  }

  .main-content {
    max-width: 30%; /* Fixed width on larger screens */
  }
}
